*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #efefef;
  font-family: sans-serif;
}


.LOGO {
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  width: 40px;
  height: 80%;
}

.contact-box{
  width: 500px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #999;
  top: 25%;
  left: 36%;
  transform: translate(-50%.-50%);
  position: absolute;
  -webkit-transform: translateX(-500px)  translateZ(0);
    transform: translateX(-500px)  translateZ(0);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 0;

}

form{
  margin: 35px;
}

.input-field{
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}

.textarea-field{
  height: 150px;
  padding-top: 10px;
}

.btnt{
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;
  background-color: #47c35a;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

footer {
  margin-top: 700px;
  background-color:#001F40;
  color: #fff;
  padding: 40px 0;
}

.img{
width: 100%;

}

.img img{
  margin-left: 45%;
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


.footer-col {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.1)
  -webkit-transform: translateX(-500px)  translateZ(0);
    transform: translateX(-500px)  translateZ(0);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 0;
}

.footer-col h4 {
  font-size: 15px;
  margin-bottom: 10px;

}

.footer-col p {
  margin: 0;
  font-size: 12px;
}

.footer-col a {
  color: #fff;
  text-decoration: none;
}

.tekst{
  color: midnightblue;
  font-size: 60px;
  margin-left: 41.7%;
  margin-top: 29px;
}

.form-control-sm{
  padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    width: 80%;
}

.btn{
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }
  .footer-col {
    min-width: 100%;
    text-align: center;
  }
}

.tekst{
  color: midnightblue;
  font-size: 60px;
  margin-left: 41.7%;

    top: 21.5%;
  left: 36%;
     -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
    transform: translateY(50px) rotate(-5deg) translateZ(0);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

@media only screen and (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }
  .footer-col {
    min-width: 100%;
    text-align: center;
  }
}

.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}