*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #efefef;
  font-family: sans-serif;
}

.contact-box{
  width: 500px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #999;
  top: 15%;
  left: 38%;
  transform: translate(-50%.-50%);
  position: absolute;
}

form{
  margin: 35px;
}

.input-field{
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}

.textarea-field{
  height: 150px;
  padding-top: 10px;
}

.btn{
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;
  background-color: #47c35a;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #05367a;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-col p {
  margin: 0;
}

.footer-col a {
  color: #fff;
  text-decoration: none;
}

.tekst{
  color: midnightblue;
  font-size: 60px;
  margin-left: 42.5%;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }
  .footer-col {
    min-width: 100%;
    text-align: center;
  }
}